AuditRecordTranslator doesn't produce a valid AuditEvent

When converting an AuditMessage to a AuditEvent with the `AuditRecordTranslator`, the produced resource is invalid.

<details>
<summary>AuditMessage: ITI-43 Document Consumer audit message</summary>

```xml
<AuditMessage>
    <EventIdentification EventActionCode="C" EventDateTime="2025-01-21T11:05:39.3842263+01:00" EventOutcomeIndicator="0">
        <EventID codeSystemName="DCM" csd-code="110107" originalText="Import" />
        <EventTypeCode codeSystemName="IHE Transactions" csd-code="ITI-43" originalText="Retrieve Document Set" />
        <PurposeOfUse csd-code="NORM" codeSystemName="2.16.756.5.30.1.127.3.10.5" originalText="Normalzugriff" />
    </EventIdentification>
    <ActiveParticipant UserID="https://community.epr.ch/Repository" UserIsRequestor="false" NetworkAccessPointID="community.epr.ch" NetworkAccessPointTypeCode="1">
        <RoleIDCode codeSystemName="DCM" csd-code="110153" originalText="Source Role ID" />
    </ActiveParticipant>
    <ActiveParticipant UserID="1234" AlternativeUserID="1234" UserIsRequestor="false" NetworkAccessPointID="10.0.1.42" NetworkAccessPointTypeCode="2">
        <RoleIDCode codeSystemName="DCM" csd-code="110152" originalText="Destination Role ID" />
    </ActiveParticipant>
    <ActiveParticipant UserID="7601002860123" UserName="&lt;7601002860123@http://ith-icoserve.com/eHealthSolutionsSTS&gt;" UserIsRequestor="false">
        <RoleIDCode codeSystemName="2.16.756.5.30.1.127.3.10.6" originalText="Healthcare Professional" csd-code="HCP" />
    </ActiveParticipant>
    <ActiveParticipant UserID="7601002860123" UserName="Quentin Ligier" UserIsRequestor="true">
        <RoleIDCode codeSystemName="2.16.756.5.30.1.127.3.10.6" originalText="Healthcare Professional" csd-code="HCP" />
    </ActiveParticipant>
    <AuditSourceIdentification AuditEnterpriseSiteID="2.16.756.1.2.3" AuditSourceID="d7251114" />
    <ParticipantObjectIdentification ParticipantObjectID="2.16.756.5.30.1.191.1.0.12.3.101^e90afe4e-49c8-4140-94b0-b74f68c3678b" ParticipantObjectTypeCode="2" ParticipantObjectTypeCodeRole="3">
        <ParticipantObjectIDTypeCode codeSystemName="IHE XDS Metadata" csd-code="urn:uuid:8a8db347-de1b-4d69-956a-0ff900e7f144" originalText="XDSDocumentEntry" />
        <ParticipantObjectDetail type="Repository Unique Id" value="Mi4xNi43NTYuNC41LjY=" />
        <ParticipantObjectDetail type="ihe:homeCommunityID" value="Mi4xNi43NTYuNC41" />
    </ParticipantObjectIdentification>
    <ParticipantObjectIdentification ParticipantObjectID="PATIENT1^^^&amp;2.16.756.5.30.1.191.1.0.2.1&amp;ISO" ParticipantObjectTypeCode="1" ParticipantObjectTypeCodeRole="1">
        <ParticipantObjectIDTypeCode codeSystemName="RFC-3881" csd-code="2" originalText="PatientNumber" />
    </ParticipantObjectIdentification>
</AuditMessage>
```

</details>

<details>
<summary>Translated AuditEvent with AuditRecordTranslator</summary>

```json
{
  "resourceType": "AuditEvent",
  "type": {
    "system": "http://nema.org/dicom/dicm",
    "code": "110107",
    "display": "Import"
  },
  "subtype": [ {
    "system": "http://ihe.net",
    "code": "ITI-43",
    "display": "Retrieve Document Set"
  } ],
  "action": "C",
  "recorded": "2025-01-21T11:05:39.384+01:00",
  "outcome": "0",
  "purposeOfEvent": [ {
    "coding": [ {
      "system": "2.16.756.5.30.1.127.3.10.5",
      "code": "NORM",
      "display": "Normalzugriff"
    } ]
  } ],
  "agent": [ {
    "role": [ {
      "coding": [ {
        "system": "http://nema.org/dicom/dicm",
        "code": "110153",
        "display": "Source Role ID"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "https://community.epr.ch/Repository"
      }
    },
    "requestor": false,
    "network": {
      "address": "community.epr.ch",
      "type": "1"
    }
  }, {
    "role": [ {
      "coding": [ {
        "system": "http://nema.org/dicom/dicm",
        "code": "110152",
        "display": "Destination Role ID"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "1234"
      }
    },
    "altId": "1234",
    "requestor": false,
    "network": {
      "address": "10.0.1.42",
      "type": "2"
    }
  }, {
    "role": [ {
      "coding": [ {
        "system": "2.16.756.5.30.1.127.3.10.6",
        "code": "HCP",
        "display": "Healthcare Professional"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "7601002860123"
      }
    },
    "name": "<7601002860123@http://ith-icoserve.com/eHealthSolutionsSTS>",
    "requestor": false
  }, {
    "role": [ {
      "coding": [ {
        "system": "2.16.756.5.30.1.127.3.10.6",
        "code": "HCP",
        "display": "Healthcare Professional"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "7601002860123"
      }
    },
    "name": "Quentin Ligier",
    "requestor": true
  } ],
  "source": {
    "site": "2.16.756.1.2.3",
    "observer": {
      "identifier": {
        "value": "d7251114"
      }
    }
  },
  "entity": [ {
    "what": {
      "identifier": {
        "type": {
          "coding": [ {
            "system": "IHE XDS Metadata",
            "code": "urn:uuid:8a8db347-de1b-4d69-956a-0ff900e7f144",
            "display": "XDSDocumentEntry"
          } ]
        },
        "value": "2.16.756.5.30.1.191.1.0.12.3.101^e90afe4e-49c8-4140-94b0-b74f68c3678b"
      }
    },
    "type": {
      "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
      "code": "2",
      "display": "System Object"
    },
    "role": {
      "system": "http://terminology.hl7.org/CodeSystem/object-role",
      "code": "3",
      "display": "Report"
    },
    "detail": [ {
      "type": "Repository Unique Id",
      "valueBase64Binary": "Mi4xNi43NTYuNC41LjY="
    }, {
      "type": "ihe:homeCommunityID",
      "valueBase64Binary": "Mi4xNi43NTYuNC41"
    } ]
  }, {
    "what": {
      "identifier": {
        "type": {
          "coding": [ {
            "system": "RFC-3881",
            "code": "2",
            "display": "PatientNumber"
          } ]
        },
        "value": "PATIENT1^^^&2.16.756.5.30.1.191.1.0.2.1&ISO"
      }
    },
    "type": {
      "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
      "code": "1",
      "display": "Person"
    },
    "role": {
      "system": "http://terminology.hl7.org/CodeSystem/object-role",
      "code": "1",
      "display": "Patient"
    }
  } ]
}
```

</details>

When validating against FHIR R4, the following errors are found:

> Coding.system must be an absolute reference, not a local reference

When the code system can't be translated, it should still be converted to FHIR: if it's a URL, keep it as it is. If it's an OID, URN-encode it.

> URI values cannot have whitespace('IHE XDS Metadata')

I vaguely remember having found an OID linked to this one, but can't find it again. Nothing relevant documented on https://wiki.ihe.net/index.php/OID_Registration

> Coding.system must be an absolute reference, not a local reference ('RFC-3881')

This one should be mapped to `http://terminology.hl7.org/CodeSystem/object-role` when it's encountered in `role`. [RFC 3881 §5.5.2](https://www.rfc-editor.org/rfc/rfc3881.html#section-5.5.2) / [CodeSystem: AuditEventEntityRole](https://terminology.hl7.org/6.1.0/CodeSystem-object-role.html)
Not sure if `RFC-3881` can be found elsewhere.

Edit: an issue with the map: `http://nema.org/dicom/dicm` should be `http://dicom.nema.org/resources/ontology/DCM` (cf [CodeSystem: DICOM Controlled Terminology](https://terminology.hl7.org/3.1.0/CodeSystem-v3-DCM.html))

Is it an option for you to configure the AuditContext with
a BalpXmlSerializationStrategy or BalpJsonSerializationStrategy and check
again?
It's still possible that these "symbolic" code systems are not correctly
handled

regards
Christian

Am Di., 28. Jan. 2025 um 14:50 Uhr schrieb Quentin Ligier <
***@***.***>:

> When converting an AuditMessage to a AuditEvent with the
> AuditRecordTranslator, the produced resource is invalid.
> AuditMessage: ITI-43 Document Consumer audit message
>
> <AuditMessage>
>     <EventIdentification EventActionCode="C" EventDateTime="2025-01-21T11:05:39.3842263+01:00" EventOutcomeIndicator="0">
>         <EventID codeSystemName="DCM" csd-code="110107" originalText="Import" />
>         <EventTypeCode codeSystemName="IHE Transactions" csd-code="ITI-43" originalText="Retrieve Document Set" />
>         <PurposeOfUse csd-code="NORM" codeSystemName="2.16.756.5.30.1.127.3.10.5" originalText="Normalzugriff" />
>     </EventIdentification>
>     <ActiveParticipant UserID="https://community.epr.ch/Repository" UserIsRequestor="false" NetworkAccessPointID="community.epr.ch" NetworkAccessPointTypeCode="1">
>         <RoleIDCode codeSystemName="DCM" csd-code="110153" originalText="Source Role ID" />
>     </ActiveParticipant>
>     <ActiveParticipant UserID="1234" AlternativeUserID="1234" UserIsRequestor="false" NetworkAccessPointID="10.0.1.42" NetworkAccessPointTypeCode="2">
>         <RoleIDCode codeSystemName="DCM" csd-code="110152" originalText="Destination Role ID" />
>     </ActiveParticipant>
>     <ActiveParticipant UserID="7601002860123" ***@***.***://ith-icoserve.com/eHealthSolutionsSTS&gt;" UserIsRequestor="false">
>         <RoleIDCode codeSystemName="2.16.756.5.30.1.127.3.10.6" originalText="Healthcare Professional" csd-code="HCP" />
>     </ActiveParticipant>
>     <ActiveParticipant UserID="7601002860123" UserName="Quentin Ligier" UserIsRequestor="true">
>         <RoleIDCode codeSystemName="2.16.756.5.30.1.127.3.10.6" originalText="Healthcare Professional" csd-code="HCP" />
>     </ActiveParticipant>
>     <AuditSourceIdentification AuditEnterpriseSiteID="2.16.756.1.2.3" AuditSourceID="d7251114" />
>     <ParticipantObjectIdentification ParticipantObjectID="2.16.756.5.30.1.191.1.0.12.3.101^e90afe4e-49c8-4140-94b0-b74f68c3678b" ParticipantObjectTypeCode="2" ParticipantObjectTypeCodeRole="3">
>         <ParticipantObjectIDTypeCode codeSystemName="IHE XDS Metadata" csd-code="urn:uuid:8a8db347-de1b-4d69-956a-0ff900e7f144" originalText="XDSDocumentEntry" />
>         <ParticipantObjectDetail type="Repository Unique Id" value="Mi4xNi43NTYuNC41LjY=" />
>         <ParticipantObjectDetail type="ihe:homeCommunityID" value="Mi4xNi43NTYuNC41" />
>     </ParticipantObjectIdentification>
>     <ParticipantObjectIdentification ParticipantObjectID="PATIENT1^^^&amp;2.16.756.5.30.1.191.1.0.2.1&amp;ISO" ParticipantObjectTypeCode="1" ParticipantObjectTypeCodeRole="1">
>         <ParticipantObjectIDTypeCode codeSystemName="RFC-3881" csd-code="2" originalText="PatientNumber" />
>     </ParticipantObjectIdentification>
> </AuditMessage>
>
> Translated AuditEvent
>
> {
>   "resourceType": "AuditEvent",
>   "type": {
>     "system": "http://nema.org/dicom/dicm",
>     "code": "110107",
>     "display": "Import"
>   },
>   "subtype": [ {
>     "system": "http://ihe.net",
>     "code": "ITI-43",
>     "display": "Retrieve Document Set"
>   } ],
>   "action": "C",
>   "recorded": "2025-01-21T11:05:39.384+01:00",
>   "outcome": "0",
>   "purposeOfEvent": [ {
>     "coding": [ {
>       "system": "2.16.756.5.30.1.127.3.10.5",
>       "code": "NORM",
>       "display": "Normalzugriff"
>     } ]
>   } ],
>   "agent": [ {
>     "role": [ {
>       "coding": [ {
>         "system": "http://nema.org/dicom/dicm",
>         "code": "110153",
>         "display": "Source Role ID"
>       } ]
>     } ],
>     "who": {
>       "identifier": {
>         "value": "https://community.epr.ch/Repository"
>       }
>     },
>     "requestor": false,
>     "network": {
>       "address": "community.epr.ch",
>       "type": "1"
>     }
>   }, {
>     "role": [ {
>       "coding": [ {
>         "system": "http://nema.org/dicom/dicm",
>         "code": "110152",
>         "display": "Destination Role ID"
>       } ]
>     } ],
>     "who": {
>       "identifier": {
>         "value": "1234"
>       }
>     },
>     "altId": "1234",
>     "requestor": false,
>     "network": {
>       "address": "10.0.1.42",
>       "type": "2"
>     }
>   }, {
>     "role": [ {
>       "coding": [ {
>         "system": "2.16.756.5.30.1.127.3.10.6",
>         "code": "HCP",
>         "display": "Healthcare Professional"
>       } ]
>     } ],
>     "who": {
>       "identifier": {
>         "value": "7601002860123"
>       }
>     },
>     "name": ***@***.***://ith-icoserve.com/eHealthSolutionsSTS>",
>     "requestor": false
>   }, {
>     "role": [ {
>       "coding": [ {
>         "system": "2.16.756.5.30.1.127.3.10.6",
>         "code": "HCP",
>         "display": "Healthcare Professional"
>       } ]
>     } ],
>     "who": {
>       "identifier": {
>         "value": "7601002860123"
>       }
>     },
>     "name": "Quentin Ligier",
>     "requestor": true
>   } ],
>   "source": {
>     "site": "2.16.756.1.2.3",
>     "observer": {
>       "identifier": {
>         "value": "d7251114"
>       }
>     }
>   },
>   "entity": [ {
>     "what": {
>       "identifier": {
>         "type": {
>           "coding": [ {
>             "system": "IHE XDS Metadata",
>             "code": "urn:uuid:8a8db347-de1b-4d69-956a-0ff900e7f144",
>             "display": "XDSDocumentEntry"
>           } ]
>         },
>         "value": "2.16.756.5.30.1.191.1.0.12.3.101^e90afe4e-49c8-4140-94b0-b74f68c3678b"
>       }
>     },
>     "type": {
>       "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
>       "code": "2",
>       "display": "System Object"
>     },
>     "role": {
>       "system": "http://terminology.hl7.org/CodeSystem/object-role",
>       "code": "3",
>       "display": "Report"
>     },
>     "detail": [ {
>       "type": "Repository Unique Id",
>       "valueBase64Binary": "Mi4xNi43NTYuNC41LjY="
>     }, {
>       "type": "ihe:homeCommunityID",
>       "valueBase64Binary": "Mi4xNi43NTYuNC41"
>     } ]
>   }, {
>     "what": {
>       "identifier": {
>         "type": {
>           "coding": [ {
>             "system": "RFC-3881",
>             "code": "2",
>             "display": "PatientNumber"
>           } ]
>         },
>         "value": "PATIENT1^^^&2.16.756.5.30.1.191.1.0.2.1&ISO"
>       }
>     },
>     "type": {
>       "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
>       "code": "1",
>       "display": "Person"
>     },
>     "role": {
>       "system": "http://terminology.hl7.org/CodeSystem/object-role",
>       "code": "1",
>       "display": "Patient"
>     }
>   } ]
> }
>
> When validating against FHIR R4, the following errors are found:
>
> Coding.system must be an absolute reference, not a local reference
>
> When the code system can't be translated, it should still be converted to
> FHIR: if it's a URL, keep it as it is. If it's an OID, URN-encode it.
>
> URI values cannot have whitespace('IHE XDS Metadata')
>
> I vaguely remember having found an OID linked to this one, but can't find
> it again. Nothing relevant documented on
> https://wiki.ihe.net/index.php/OID_Registration
>
> Coding.system must be an absolute reference, not a local reference
> ('RFC-3881')
>
> This one should be mapped to
> http://terminology.hl7.org/CodeSystem/object-role when it's encountered
> in role. RFC 3881 §5.5.2
> <https://www.rfc-editor.org/rfc/rfc3881.html#section-5.5.2> / CodeSystem:
> AuditEventEntityRole
> <https://terminology.hl7.org/6.1.0/CodeSystem-object-role.html>
> Not sure if RFC-3881 can be found elsewhere.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/oehf/ipf/issues/465>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AACU7KEVMGAGE3IMWU2SPG32M6DLXAVCNFSM6AAAAABWAQWSZ6VHI2DSMVQWIX3LMV43ASLTON2WKOZSHAYTKNZTG43TOOI>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Hi Christian! With `BalpJsonSerializationStrategy`, the result is still invalid, but for other reasons.


<details>
<summary>Translated AuditEvent</summary>

```json
{
  "resourceType": "AuditEvent",
  "type": {
    "system": "http://nema.org/dicom/dicm",
    "code": "110107",
    "display": "Import"
  },
  "subtype": [ {
    "system": "http://ihe.net",
    "code": "ITI-43",
    "display": "Retrieve Document Set"
  } ],
  "action": "C",
  "recorded": "2025-01-21T11:05:39.384+01:00",
  "outcome": "0",
  "purposeOfEvent": [ {
    "coding": [ {
      "system": "2.16.756.5.30.1.127.3.10.5",
      "code": "NORM",
      "display": "Normalzugriff"
    } ]
  } ],
  "agent": [ {
    "role": [ {
      "coding": [ {
        "system": "http://nema.org/dicom/dicm",
        "code": "110153",
        "display": "Source Role ID"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "https://community.epr.ch/Repository"
      }
    },
    "requestor": false,
    "network": {
      "address": "community.epr.ch",
      "type": "1"
    }
  }, {
    "role": [ {
      "coding": [ {
        "system": "http://nema.org/dicom/dicm",
        "code": "110152",
        "display": "Destination Role ID"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "1234"
      }
    },
    "altId": "1234",
    "requestor": false,
    "network": {
      "address": "10.0.1.42",
      "type": "2"
    }
  }, {
    "role": [ {
      "coding": [ {
        "system": "2.16.756.5.30.1.127.3.10.6",
        "code": "HCP",
        "display": "Healthcare Professional"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "7601002860123"
      }
    },
    "name": "<7601002860123@http://ith-icoserve.com/eHealthSolutionsSTS>",
    "requestor": false
  }, {
    "role": [ {
      "coding": [ {
        "system": "2.16.756.5.30.1.127.3.10.6",
        "code": "HCP",
        "display": "Healthcare Professional"
      } ]
    } ],
    "who": {
      "identifier": {
        "value": "7601002860123"
      }
    },
    "name": "Quentin Ligier",
    "requestor": true
  } ],
  "source": {
    "site": "2.16.756.1.2.3",
    "observer": {
      "identifier": {
        "value": "d7251114"
      }
    }
  },
  "entity": [ {
    "what": {
      "identifier": {
        "type": {
          "coding": [ {
            "system": "IHE XDS Metadata",
            "code": "urn:uuid:8a8db347-de1b-4d69-956a-0ff900e7f144",
            "display": "XDSDocumentEntry"
          } ]
        },
        "value": "2.16.756.5.30.1.191.1.0.12.3.101^e90afe4e-49c8-4140-94b0-b74f68c3678b"
      }
    },
    "type": {
      "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
      "code": "2",
      "display": "System Object"
    },
    "role": {
      "system": "http://terminology.hl7.org/CodeSystem/object-role",
      "code": "3",
      "display": "Report"
    },
    "detail": [ {
      "type": "Repository Unique Id",
      "valueBase64Binary": "Mi4xNi43NTYuNC41LjY="
    }, {
      "type": "ihe:homeCommunityID",
      "valueBase64Binary": "Mi4xNi43NTYuNC41"
    } ]
  }, {
    "what": {
      "identifier": {
        "type": {
          "coding": [ {
            "system": "RFC-3881",
            "code": "2",
            "display": "PatientNumber"
          } ]
        },
        "value": "PATIENT1^^^&2.16.756.5.30.1.191.1.0.2.1&ISO"
      }
    },
    "type": {
      "system": "http://terminology.hl7.org/CodeSystem/audit-entity-type",
      "code": "1",
      "display": "Person"
    },
    "role": {
      "system": "http://terminology.hl7.org/CodeSystem/object-role",
      "code": "1",
      "display": "Patient"
    }
  } ]
}
```

</details>

I diffed both AuditEvents for differences: https://www.diffchecker.com/RGycfn6P/. It seems `AuditRecordTranslator` is more complete.

The diff reveals another issue with the map: `http://nema.org/dicom/dicm` should be `http://dicom.nema.org/resources/ontology/DCM` (cf [CodeSystem: DICOM Controlled Terminology](https://terminology.hl7.org/3.1.0/CodeSystem-v3-DCM.html))

Thank you, I will look into the diff. 
The main use case for the Balp Serializer was of course for IHE FHIR transactions (where it has become mandatory recently) rather than for a XDS ITI-43 request.

Sorry, I fixed the last snippet.

Yep, I checked all OID links but found nothing relevant :(

Okay, so it doesn't make sense to work on `BalpJsonSerializationStrategy` for this. Is it in the scope of `AuditRecordTranslator` though?

Hello @qligier, I fixed the codesystems mapping, but you may really prefer to use the BALP translator.

Thanks!